{
  	"PulsarAuthenticationKey": "xxxxx",
    "PulsarURL": "pulsar+ssl://xxxxxx.au.messaging.cloud.tibco.com:10038",
	  "PulsarSubscriber": "xxxxxx-dumper-1",
	  "PulsarTopic": "xxxxxxxxx/channel/frdata",
	  "FilesPath":"/tmp",
	  "LogLevel":"INFO"

}
