{

  "Dump1090Server":"10.0.0.1",
  "Dump1090Port": 30003,
  "BatchTimeWindow": 3,
  "LogLevel":"INFO",

  "RadarID":"xxxxxxxx",
  "RadarKey":"xxxxxxxx",

"PulsarAuthenticationKey:"xxxxxxxxxx",

"PulsarURL": "pulsar+ssl://xxxxxxxxxxxx.au.messaging.cloud.tibco.com:10038",
"PulsarNameSpace": "zzzzzzzzzzzzzzzzzz/channel", 
"PulsarTopic":"topic/subtopic"

}
